.header {
    height: 20%;
    width: 100%;
    background: #afaeae;
    display: flex;
    align-items: center;
    font-family: 'Roboto Black', sans-serif;
}

.header img {
    margin-left: 40px;
    margin-right: 20px;
}